@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "Space Grotesk", sans-serif;
  --font-serif: "Archivo", sans-serif;
  --color-primary: #D92431;
  --color-dark: #232021;
  --color-light: #F6F6F6;
}

body {
  background-color: var(--color-light);
  color: var(--color-dark);
  font-family: var(--font-sans);
  overflow-x: hidden;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

@property --card-rotation-progress {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}

@property --radial-progress {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}

/* Animations that we will reuse */
.css-animate-card {
  --index: 0;
  --count: 4;
  --entry-start: 20%;
  --entry-step: calc((100% - var(--entry-start)) / (var(--count) + 1));
  --entry: calc(var(--entry-start) + var(--index) * var(--entry-step));

  animation: reviewUp 1ms ease-out both;
  animation-timeline: view(block);
  animation-range: entry var(--entry) contain 50%;
}

.css-animate-slide {
  animation: calendarSmallAppear 1ms cubic-bezier(0.17, 0.67, 0.34, 1.36) forwards;
  animation-timeline: view(block);
  animation-range: entry 10% contain 40%;
}

@keyframes calendarSmallAppear {
  from {
    opacity: 0;
    transform: translateX(50%);
  }

  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes cardUp {
  from {
    translate: 0 80%;
  }

  to {
    translate: 0 20%;
  }
}

@keyframes cardRotate {
  from {
    --card-rotation-progress: 0;
  }

  to {
    --card-rotation-progress: 1;
  }
}

@keyframes radialProgress {
  from {
    --radial-progress: 0;
  }

  to {
    --radial-progress: 1;
  }
}

@keyframes reviewUp {
  from {
    translate: 0 40%;
    opacity: 0;
  }

  to {
    translate: 0 0%;
    opacity: 1;
  }
}